body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
}

.moon,
.sun {
    cursor: pointer;
    height: 100px;
    width: 100px;
}